<div class="container">

    <div class="jumboton">
        <img src="/assets/img/burger.jpg" alt="burger" width="auto" height="auto">
        <h2>Burgers to be DEVOURED!</h2>
    </div>

    <div class="row">
        <div class="col-md-5">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">
                    <p class="lead">{{burger_name}}</p>

                    <span class="input-group-btn">

                        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                            <button class="btn btn-default btn-lg" type="submit">Devour it!</button>
                        </form>
                    </span>

                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>Burgers DEVOURED!</h2>

    <ul>
        <div class="row">
            <div class="col-md-5">
                <ul class="list-group">
                    {{#each burgers}}
                    {{#if devoured}}
                    <li class="list-group-item">
                        <p class="lead">{{burger_name}}</p>

                        <span class="devour-btn">
                            <button class="delete-burger" data-id="{{this.id}}">
                                DELETE!
                            </button>
                        </span>

                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </ul>

    <h2>Add Burger</h2>
    <p class="lead"> Add additional burgers here! </p>

    <form class="create-update-form" action="burgers/create" method="POST">

        <div class="form-group">
            <textarea class="form-control input-lg" type="text" name="burger_name" rows="3"> </textarea>
        </div>

        <button class="btn btn-default btn-lg" type="submit">Add Burger!</button>
    </form>

</div>