<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-devourburger="{{devour}}">
        {{#if devour}}DEVOUR BURGER!{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">
        DELETE!</button>
</li>